* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --background-primary: #f4f5fb;
  --background-secondary: #ffffff;

  --color-brand: #ca3884;
  --color-brand-hover: #a52c6b;
  --color-danger: #c93847;

  --content-primary: #080b12;
  --content-secondary: #374151;
  --content-tertiary: #9ca3af;
  --always-white: #ffffff;

  --border-primary: #d1d5db;
  --border-hover: #b9c2d0;

  --title: 700 1.5rem/2rem "Inter", sans-serif;
  --label: 600 1rem/1.25rem "Inter", sans-serif;
  --paragrapf: 500 1rem/1.25rem "Inter", sans-serif;
  --link: 500 0.875rem/1rem "Inter", sans-serif;
}
body {
  min-height: 100vh;
  display: grid;
  background-color: var(--background-primary);
}

.only-desktop {
  display: none;
}

#app {
  padding-inline: 2rem;
}

h1 {
  font: var(--title);
  color: var(--content-primary);
  margin-bottom: 2.75rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  & input {
    border-radius: 0.75rem;
    border: 1px solid var(--border-primary);
    background-color: var(--background-secondary);
    padding: 0.6875rem 0 0.6875rem 1.125rem;
    outline: none;
    color: var(--content-primary);

    &::placeholder {
      color: var(--content-tertiary);
    }

    &:hover {
      border: 1px solid var(--border-hover);
    }
    &:focus {
      border: 1px solid var(--color-brand);
    }
  }

  & .add-item {
    border-radius: 0.75rem;
    border: none;
    background-color: var(--color-brand);
    padding-block: 0.75rem;
    outline: none;
    color: var(--always-white);
    font: var(--label);

    &:hover {
      background-color: var(--color-brand-hover);
    }
  }
}

label {
  font: var(--label);
  width: 100%;
}

p {
  font: var(--paragrapf);
}

a {
  display: flex;
  align-items: center;
  font: var(--link);
  color: var(--color-brand);
  margin: 4.875rem 0 1rem;
  text-decoration: none;

  & img {
    width: 0.875rem;
    height: 0.875rem;
  }
}

ul {
  list-style: none;
  margin-block: 2.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 0.75rem;

  & li {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    border-radius: 0.75rem;
    border: none;
    background-color: var(--background-secondary);
    padding: 0.6875rem 0 0.6875rem 1.125rem;
    outline: none;

    &.do {
      text-decoration: line-through;
    }

    & input {
      width: 16px;
      height: 16px;
    }

    & label {
      font: var(--paragrapf);
      color: var(--content-secondary);
    }

    & button {
      background-color: var(--always-white);
      border: none;
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-left: auto;
      width: 32px;
      height: 32px;

      & img {
        margin-right: 0.75rem;
      }
    }
  }
}

.remove-item {
  display: none;
  /* display: flex; */
  align-items: center;
  gap: 0.5rem;
  background-color: var(--color-danger);
  color: var(--always-white);
  border-radius: 0.75rem;
  padding: 0.75rem;

  & button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
  }
}

@media (width >= 80em) {
  #app {
    min-width: 39.25rem;
    margin: 0 auto;
  }

  header {
    margin-top: 1.5625rem;
    text-align: center;
  }

  a {
    margin-top: 3.875rem;
  }
  form {
    width: 100%;
    flex-direction: row;

    & input {
      min-width: 28.1875rem;
    }

    & .add-item {
      min-width: 10rem;
    }
  }
  .only-desktop {
    display: block;
  }
}
